@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800');

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --text-color-1: #FFF;
}

header, main, footer, article, nav {
    display: block;
}

body {

}

/*HEADER*/

/*--MENU*/
.top_menu {
    width: 100%;
    position: sticky;
    top: 40px;
    min-height: 60px;
    z-index: 9999;
    margin-top: -80px;
}

.top_menu_content {
}

.top_menu_content .logo {
    font-family: Raleway;
    color:  var(--text-color-1);
    font-size: 34px;
    font-weight: 400;
    float: left;
    width: 200px;
}

.top_menu_content .logo img {
    max-height: 50px;
    display: block;
    float: left;
}

.top_menu_content .logo p {
    margin: auto 0;
    display: block;
}

.top_menu_content nav {
    margin: auto 0;
    padding-top: 15px;
}

.main_menu li {
    display: inline-block;
}

.main_menu li a {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    text-transform: none;
    margin-right: 30px;
}

.main_menu li a:hover {
    font-family: Montserrat;
    font-family: Montserrat;
    color:  #c7b29a;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    text-transform: none;
    text-decoration: none;
}


/*--SLIDER*/

.slider_text {
    width: 60%;
    text-align: center;
    position: absolute;
    left:50%; 
    margin-left:-30%;
    top: 30%;
}

.slider_text h1 {
    font-family: Raleway;
    color:  var(--text-color-1);
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

.slider_text mark {
    font-family: Raleway;
    color:  var(--text-color-1);
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    background-color: transparent;
}

.slider_text p {
    font-family: Montserrat;
    color:  var(--text-color-1);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.header_bottom {
    margin: 0px auto;
    border-radius: 3px;
    background-color:  #998675;
    width: 170px;
    height: 53px;
    font-family: Raleway;
    color:  var(--text-color-1);
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
}

/*MAIN*/



/*MEDIA*/

@media (max-width: 1000px) {
    
.slider_text {
    width: 60%;
    text-align: center;
    position: absolute;
    left:50%; 
    margin-left:-30%;
    top: 20%;
}

.slider_text h1 {
    font-family: Raleway;
    color:  var(--text-color-1);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.slider_text mark {
    font-family: Raleway;
    color:  var(--text-color-1);
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    background-color: transparent;
}
    
}
    
@media (max-width: 760px) {


}