:root {
    --padding-zone: 50px;
    --bg-color-1: #445162;
    --bg-color-2: #FFF;
    --bg-color-3: #f5f5f5;
    --text-color-1: #FFF;
    --text-color-2: #333;
    --text-color-3: #445162;
}
/*общие стили*/
header, main, footer, article {
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Arial';
    margin: 0px;
    padding: 0px;
}

.clearfix {
    clear: both;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

h2 {
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
p {
    color: var(--text-color-2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.black_bg {
    background-color: rgba(0, 0, 0, 0.3);
}
/*стили блоков*/
header {
    width: 100%;
    min-height: 720px;
    background-color: var(--bg-color-1);
/*    padding: var(--padding-zone);*/
    box-sizing: border-box;
    position: relative;
}

header::after {
    content: '';
    clear: both;
    display: table;
}

#head_video {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: 0;
}

.header_content {
    position: absolute;
    padding: var(--padding-zone);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
}

.header_left {
    float: left;
    width: 50%
}

.header_right {
    float: right;
    width: 50%;
}

.header_right img {
    max-width: 469px;
    border: 2px solid;
}

h1 {
    color: var(--text-color-1);
    font-size: 60px;
    font-weight: 400;
    text-align: left;

}

.header_left ul {
    margin-top: 20px;
}

.header_left ul li {
    color: var(--text-color-1);
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
/*    list-style-image: url(images/check_icon.png);*/
    list-style: none;
}

.header_left ul li:before{
   content: '';
   display: inline-block;
   height: 19px;
   width: 25px;
   background-image: url(images/check_icon.png);
    margin-right: 5px;
}

main {
    width: 100%;
}

main::after {
    content: '';
    clear: both;
}

.about {
    width: 100%;
    background-color: var(--bg-color-2);
    padding: var(--padding-zone);
    box-sizing: border-box;
}

.about::after {
    content: '';
    clear: both;
    display: table;
}

.about_left {
    width: 59%;
    float: left;
}

.about_p {
    margin-top: 30px;
    margin-bottom: 20px;
}

.about_right {
    width: 40%;
    height: 245px;
    float: right;
}

.pluses {
    width: 100%;
    padding: var(--padding-zone);
    background-color: var(--bg-color-3);
    box-sizing: border-box;
}

.pluses::after {
    content: '';
    clear: both;
    display: table;
}

.pluses h2 {
    text-align: center;
    margin-bottom: 30px;
}

.pluses ul li {
    list-style: none;
    display: inline-block;
    width: calc(50% - 50px);
    color: var(--text-color-2);
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    margin-bottom: 35px;
    margin-right: 19px;
}

.plus_icon {
    height: 32px;
    width: 32px;
    background-color: var(--bg-color-1);
    float: left;
    margin-right: 9px;
    background-image: url(images/pluses.png);
    background-repeat: no-repeat;
    background-position: center;
}

.plus_txt {
    display: table;
}

.scrinshots {
    width: 100%;
    padding: var(--padding-zone);
    background-color: var(--bg-color-2);
    box-sizing: border-box;
}
.scrinshots::after {
    content: '';
    clear: both;
    display: table;
}

.scrinshots h2 {
    text-align: center;
    margin-bottom: 30px;
}

.scrinshots_item {
    width: calc(50% - 8px);
    display: inline-block;
    float: left;
    max-width: 100%;
    margin-bottom: 30px;
}

.scrinshots_img {
    background: cornflowerblue url(images/3289418-trailer_detroitbecomehuman_20170919_site.jpg);
    background-size: cover;
    background-blend-mode: luminosity;
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 10px;
}

.scrinshots_img:hover {
    background: url(images/3289418-trailer_detroitbecomehuman_20170919_site.jpg);
    background-size: cover;
    background-blend-mode: normal;
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 10px;
}

.scrinshots_item > h3 {
    color:  #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.reviews {
    width: 100%;
    padding: var(--padding-zone);
    background-color: var(--bg-color-3);
    box-sizing: border-box;
}

.reviews::after {
    content: '';
    clear: both;
    display: table;
}

.reviews h2 {
    text-align: center;
    margin-bottom: 30px;
}

.reviews_item {
    width: calc(50% - 8px);
    display: inline-block;
    float: left;
    max-width: 100%;
    margin-bottom: 30px;
}

.reviews_img {
    background-color: var(--bg-color-1);
    background-image: url(images/elephant_silhouet.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin-right: 20px;
    float: left;
}

.reviews_txt {
    background-color: #ececec;
    padding: 10px;
    width: calc(100% - 130px);
    float: left;
    position: relative;
    z-index: 20;
}

.reviews_txt::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ececec;
    position: absolute;
    left: -10px;
    top: 25px;
    transform: rotate(45deg);
    z-index: 20;
}

.reviews_txt p {
    position: relative;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    z-index: 30;
}

.reviews_txt_name {
    color: #989898;
}

.buy {
    width: 100%;
    padding: var(--padding-zone);
    background-color: var(--bg-color-2);
    box-sizing: border-box;
}

.buy h2 {
    text-align: center;
    margin-bottom: 30px;
}

.buy_area {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 90%;
}

.buy_item {
    width: 300px;
    background-color: var(--bg-color-1);
    border-radius: 5px;
    margin: 0px 5px;

}

.buy_item h3 {
    color: var(--text-color-1);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0px;
}

.buy_item ol {
    margin-left: 20px;
    padding: 15px;
}

.buy_item ol li {
    color:  var(--text-color-1);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.buy_price {
    background-color: var(--bg-color-2);
    padding: 20px 0px;
    border: 2px solid;
    border-color: #445162;
}

.buy_price p {
    display: block;
    color:  #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.buy_botton {
    margin: 15px 5px;
    background: var(--bg-color-2);
    width: 260px;
    border-radius: 5px;
    padding: 15px 0px;
}

.buy_botton p {
    display: block;
    text-align: center;
    color:  var(--text-color-3);
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.buy_botton:hover {
    background: var(--bg-color-3);
}

.all_contact {
    width: 100%;
    background-color: var(--bg-color-1);
    padding: var(--padding-zone);
    box-sizing: border-box;
}

.all_contact::after {
    content: '';
    clear: both;
    display: table;
}

.all_contact h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--text-color-1);
}

.contact {
    margin: 0 auto;
    display: block;
    width: 800px;
}

.send_form {
    max-width: 500px;
    min-width: 250px;
    float: left;
    margin-right: 35px;
}

.send_form input[type="text"] {
    width: 100%;
    border: 0px;
    border-radius: 5px;
    background-color: var(--bg-color-2);
    height: 40px;
    padding: 0px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.send_form input[type="email"] {
    width: 100%;
    border: 0px;
    border-radius: 5px;
    background-color: var(--bg-color-2);
    height: 40px;
    padding: 0px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.send_form textarea {
    width: 100%;
    height: 170px;
    border: 0px;
    border-radius: 5px;
    background-color: var(--bg-color-2);
    padding: 0px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.send_form input[type="submit"] {
    display: block;
    width: 140px;
    border: 0px;
    border-radius: 5px;
    background-color: var(--bg-color-2);
    height: 40px;
    margin: 0 auto;
    color:  #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.send_form  input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:  #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


.messagers {
    float: left;
}

.messag_item {
    margin-bottom: 15px;
    vertical-align: middle;
    display: table;
}

.messag_item img {
    margin-right: 5px;
}

.messagers a {
    color:  var(--text-color-1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-style: normal;
    text-decoration: none;
    vertical-align:middle;
    display:table-cell;
}

.social i {
    font-size: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    mix-blend-mode: screen;
}

.fa-youtube:before{
   margin: -10px; 
}

.copyr {
    height: 26px;
    width: 100%;
    text-align: center;
    background: #f5f5f5;
    color:  #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
}

.copyr:root {
    content: '';
    clear: both
}


@media (max-width: 1000px) {

    .header_right img {
        max-width: 100%;
    }
    .about_left {
        width: 100%;
        float: none;
    }
    .about_right {
        width: 100%;
        height: 480px;
        float: none;
    }
    .scrinshots_item {
        width: 100%;
}
    .reviews_item {
        width: 100%;
    }
    
    .buy_area {
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }
    .buy_item {
        width: 500px;
        margin: 20px 5px;
    }
    
    .buy_item ol {
        margin-left: 130px;
        width: 100%;
        box-sizing: border-box;
    }
    .buy_botton {
        margin: 15px auto;
    }
    
}
    
@media (max-width: 760px) {

    .header_right img {
        display: none;
    }
    
    .header_right {
        display: none;
    }
    
    .header_left {
        width: 100%;
    }
    .pluses ul li {
        width: 100%;
    }
}