:root {
    --padding-zone: 50px;
    --bg-color-1: #445162;
    --bg-color-2: #FFF;
    --bg-color-3: #f5f5f5;
    --text-color-1: #FFF;
    --text-color-2: #333;
}
/*общие стили*/
header, main, footer, article {
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Arial';
    margin: 0px;
    padding: 0px;
}

.clearfix {
    clear: both;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

h2 {
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
p {
    color: var(--text-color-2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
/*стили блоков*/
header {
    width: 100%;
    min-height: 323px;
    background-color: var(--bg-color-1);
    padding: var(--padding-zone);
    box-sizing: border-box;
}

.header_left {
    float: left;
}

.header_right {
    background-color: var(--bg-color-2);
    width: 469px;
    height: 214px;
    float: right;
}

h1 {
    color: var(--text-color-1);
    font-size: 60px;
    font-weight: 400;
    text-align: left;

}

.header_left ul {
    margin-top: 20px;
}

.header_left ul li {
    color: var(--text-color-1);
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
/*    list-style-image: url(images/check_icon.png);*/
    list-style: none;
}

.header_left ul li:before{
   content: '';
   display: inline-block;
   height: 19px;
   width: 25px;
   background-image: url(images/check_icon.png);
    margin-right: 5px;
}

main {
    width: 100%;
}

.about {
    width: 100%;
    min-height: 325px;
    background-color: var(--bg-color-2);
    padding: var(--padding-zone);
    box-sizing: border-box;
}

.about_left {
    width: 650px;
    float: left;
}

.about_p {
    margin-top: 30px;
    margin-bottom: 20px;
}

.about_right {
    background-color: var(--bg-color-1);
    width: 430px;
    height: 245px;
    float: right;
}

.pluses {
    width: 100%;
    min-height: 435px;
    padding: var(--padding-zone);
    background-color: var(--bg-color-3);
    box-sizing: border-box;
}

.pluses h2 {
    text-align: center;
    margin-bottom: 30px;
}

.pluses ul li {
    list-style: disc;
    display: inline-block;
    width: 568px;
    color:  var(--text-color-2);
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    margin-bottom: 35px;
    margin-right: 19px;
}

.plus_icon {
    height: 32px;
    width: 32px;
    background-color: var(--bg-color-1);
    float: left;
    margin-right: 9px;
    background-image: url(images/pluses.png);
    background-repeat: no-repeat;
    background-position: center;
}

.plus_txt {
    display: table;
}

.scrinshots {
    width: 100%;
    padding: var(--padding-zone);
    background-color: var(--bg-color-2);
    box-sizing: border-box;
}
.scrinshots::after {
    content: '';
    clear: both;
    display: table;
}

.scrinshots h2 {
    text-align: center;
    margin-bottom: 30px;
}

.scrinshots_item {
    width: calc(50% - 8px);
    display: inline-block;
    float: left;
    max-width: 100%;
    margin-bottom: 30px;
}

.scrinshots_img {
    background-color: var(--bg-color-1);
    width: 200px;
    height: 150px;
    float: left;
}

.scrinshots_item > h3 {
    color:  #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.reviews {
    width: 100%;
    padding: var(--padding-zone);
    background-color: var(--bg-color-3);
    box-sizing: border-box;
}

.reviews::after {
    content: '';
    clear: both;
    display: table;
}

.reviews h2 {
    text-align: center;
    margin-bottom: 30px;
}

.reviews_item {
    width: calc(50% - 8px);
    display: inline-block;
    float: left;
    max-width: 100%;
    margin-bottom: 30px;
}

.reviews_img {
    background-color: var(--bg-color-1);
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin-right: 20px;
    float: left;
}

.reviews_txt {
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    background-color: #ececec;
    padding: 10px;
    max-width: 440px;
    float: left;
    position: relative;
}

.reviews_txt::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ececec;
    position: absolute;
    left: -10px;
    top: 25px;
    transform: rotate(45deg);
}

.reviews_txt_name {
    color: #989898;
}

.buy {
    width: 100%;
    padding: var(--padding-zone);
    background-color: var(--bg-color-2);
    box-sizing: border-box;
}

.buy h2 {
    text-align: center;
    margin-bottom: 30px;
}
